/* contactstyle.css */

body {
    font-family: 'Mali', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b4513;
    color: #333;
    background-image: url('picture/contact.png');
    background-size: cover; /* ทำให้ภาพเต็มหน้าจอ */
    background-position: center; /* จัดให้อยู่ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
    height: 100%; /* ตั้งค่าความสูงเต็มหน้าจอ */
}

header {
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: #ff0000;
    border-radius: 5px;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
}

.navbar .login-link {
    color: #fff5e0;
}

.contact-section {
    max-width: 800px;
    margin: 50px auto;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

.contact-section h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact-section p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contact-info p {
    font-size: 1.1em;
    color: #777;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.contact-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #333;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
    background-color: #ffc107;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
