/* Login Page Styling */
body {
    margin: 0;
    background-image: url(picture/login-bg.png);
    font-family: 'Mali', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 90%;
    padding: 15px 15px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.input-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.options a {
    color: #ffccff;
    text-decoration: none;
    font-size: 14px;
}

.options a:hover {
    text-decoration: underline;
}

.btn-submit {
    background-color: #ffffff;
    color: #4e3d7c;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #ffccff;
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
}

.login-container a {
    color: #ffccff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

.home-icon:hover {
    color: #ffccff;
}
